/*************** SUPPORT ***************/
.ld-wpforo-adming-setting {
    width: 90%;
}

.wbcom-wrap .notice.notice-error.is-dismissible.learndash-license-is-dismissible {
    display: none !important;
}

.nav-tab-wrapper ul li.ld-forum-faq a.nav-tab:before {
    content: '\f125';
}

button.ld-wpforo-accordion {
    background-color: hsl(0, 0%, 87%);
    border: medium none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: hsl(0, 0%, 27%);
    cursor: pointer;
    font-size: 15px;
    margin: 0 5%;
    outline: medium none;
    padding: 15px 20px;
    text-align: left;
    transition: all 0.4s ease 0s;
    width: 90%;
}

button.ld-wpforo-accordion.active,
button.ld-wpforo-accordion:hover {
    background-color: hsl(207, 90%, 54%);
    color: white;
}

.ld-wpforo-adming-setting div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: max-content;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0px;
}

button.ld-wpforo-accordion::after {
    color: hsl(0, 0%, 47%);
    content: "+";
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}

button.ld-wpforo-accordion::after:hover {
    color: white;
}

button.ld-wpforo-accordion.active::after {
    content: "−";
    color: white;
}

.ld-wpforo-admin-row {
    clear: both;
    overflow: hidden;
    padding-bottom: 5px;
}

.ld-wpforo-tab-header h3 {
    margin-left: 5%;
}

.ld-wpforo-header {
    float: left;
    width: 100%;
    padding: 10px 0px;
}

.ld-wpforo-header .ld-wpforo-plugin-heading {
    float: left;
    margin: 0px;
}

.ld-wpforo-header .ld-wpforo-extra-actions {
    float: right;
    padding-bottom: 10px;
}

.notice-success,
div.updated {
    clear: both;
}

.ld-wpforo-selection-tags a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .buddypress-shortcode-lists thead td:first-child {
        width: 25%;
    }

    .buddypress-shortcode-lists thead td:nth-child(2) {
        width: 25%;
    }
}

@media (max-width: 767px) {
    .ld-wpforo-adming-setting {
        width: 100%;
    }
}


#ldwpforo_course_settings #ldwpforo_course_selector h2.hndle.ui-sortable-handle {
    border-bottom: 1px solid #ddd;
}
#ldwpforo_course_settings #ldwpforo_course_selector .handlediv {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#ldwpforo_course_settings #ldwpforo_course_selector .handlediv:before,
#ldwpforo_course_settings div#ldwpforo_course_selector.postbox.closed .handlediv:before{
    content: "\f342";
    font-family: dashicons;
    font-size: 18px;
}
#ldwpforo_course_settings div#ldwpforo_course_selector.postbox.closed .handlediv:before{
    content: "\f346";
}
#ldwpforo_course_settings select[name="ld_forum[ld_course_selector_dd][]"]#ld_course_selector_dd {
    height: 160px;
    padding: 15px;
    background: #f0f0f1;
    border-radius: 10px;
    margin: 10px 0;
    border: none !important;
    width: 70%;
}
#ldwpforo_course_settings select[name="ld_forum[ld_course_selector_dd][]"]#ld_course_selector_dd::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
#ldwpforo_course_settings select[name="ld_forum[ld_course_selector_dd][]"]#ld_course_selector_dd::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
#ldwpforo_course_settings select[name="ld_forum[ld_course_selector_dd][]"]#ld_course_selector_dd::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
#ldwpforo_course_settings select[name="ld_forum[ld_course_selector_dd][]"]#ld_course_selector_dd::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
#ldwpforo_course_settings #ld_course_selector_dd optgroup[label="Select Courses"] option {
    padding: 5px 0;
    border-radius: 6px;
}
#ldwpforo_course_settings select#ld_course_selector_dd option:checked {
    padding: 5px 10px;
    margin-top: 2px;
}
#ldwpforo_course_settings a#ld_clearcourse {
    background: red;
    color: #fff;
    border: none;
    padding: 5px 30px;
    font-weight: 500;
    border-radius: 8px;
}
#ldwpforo_course_settings textarea[name="ld_forum[ld_message_without_access]"] {
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    margin-top: 5px;
}